/* theme.css */
/* CSS Core Notes Theme */

:root {
    /* Base */
    --color-bg: #111111;
    --color-surface: #1b1b1b;
    --color-surface-2: #252525;

    /* Primary Accent */
    --color-primary: #9e9e9e;
    --color-primary-hover: #b4b4b4;

    /* Text */
    --color-text-primary: #f7f7f7;
    --color-text-secondary: #d0d0d0;
    --color-text-muted: #939393;

    /* Borders */
    --color-border: #323232;
    --color-border-light: #404040;

    /* Links */
    --color-link: #9e9e9e;
    --color-link-hover: #b4b4b4;

    /* States */
    --color-success: #a2a2a2;
    --color-error: #8c8c8c;
    --color-warning: #a3a3a3;

    /* Code blocks */
    --color-code-bg: #111111;
    --color-code-border: #353535;

    /* Shadow */
    --color-shadow: rgba(0, 0, 0, 0.6);
}

/* Light Mode */

html[data-theme="light"] {
    --color-bg: #ffffff;
    --color-surface: #f7f7f7;
    --color-surface-2: #ededed;

    --color-primary: #6d6d6d;
    --color-primary-hover: #757575;

    --color-text-primary: #181818;
    --color-text-secondary: #404040;
    --color-text-muted: #727272;

    --color-border: #d6d6d6;
    --color-border-light: #e7e7e7;

    --color-link: #6d6d6d;
    --color-link-hover: #757575;

    --color-success: #6e6e6e;
    --color-error: #6b6b6b;
    --color-warning: #717171;

    --color-code-bg: #f8f8f8;
    --color-code-border: #d6d6d6;

    --color-shadow: rgba(0, 0, 0, 0.08);
}
